
/* Portrait phones and smaller */

@media (min-width : 500px) and (max-width : 1000px)
{
  .customWidthSmall
    {
      width: 90%;
    }
}

@media (min-width : 1000px) and (max-width : 2000px)
{
  .customWidthBig
    {
      width: 30%;
    }
}

.width1 {
    width:30%;
}